{#
 # Column Thumbnail
 #
 # @package WordPress
 # @subpackage WebLexProDashboard
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

<a
	href="{{ url }}"
	{{ attributes ? attributes | map( ( value, key ) => "#{key}=\"#{value}\"" ) | join( ' ' ) | raw }}
>
	{{- include( 'components/image.html.twig', { image: thumbnail, size: size | default( 'thumbnail' ) }, with_context = false ) -}}
</a>
