{#
 # Footer
 #
 # @package WordPress
 # @subpackage WebLexProDashboard
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}
<footer class="py-12 text-white bg-blue-bright">
	<div class="container">
		<div class="items-center row">
			<div class="lg:col-6/12">
				<img class="block w-auto h-12 mx-auto lg:mx-0" src="{{ asset( 'img/svg/logo.svg' ) }}" alt="{{ site.description }}">
			</div>

			<div class="mt-2 lg:col-6/12 lg:mt-0">
				<ul class="flex justify-center lg:justify-end">
					<li>Copyright@{{ 'now' | date( 'Y' ) }}</li>
					{{- '&nbsp;&mdash;&nbsp;' -}}
					<li>WebLex</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
