{#
 # Header
 #
 # @package WordPress
 # @subpackage WebLexProDashboard
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

<header>
	<div class="container">
		<div class="row">
			<div>
				HEADER
			</div>
		</div>
	</div>
</header>
