{#
 # Header
 #
 # @package WordPress
 # @subpackage WebLexProDashboard
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

<header class="py-8">
	<div class="container">
		<div class="row">
			<div>
				<img class="block w-auto h-11" src="{{ asset( 'img/svg/logo.svg' ) }}" alt="{{ site.description }}">
			</div>
		</div>
	</div>
</header>
