{#
 # Dashboard Page
 #
 # @package WordPress
 # @subpackage WebLexProDashboard
 #}

{% extends 'index.html.twig' %}

{% block content %}
	{{ parent() }}
	<div class="container space-y-13 text-blue-dark">
		<div class="row">
			<div>
				<h2 class="font-medium text-3xl">{{- __( 'My subscriptions', 'weblexprodashboard' ) -}}</h2>
			</div>
			<div>
				<hr class="block border-none bg-blue-dark h-px w-full mt-4">
			</div>
		</div>
		<div class="row">
			<div>
				<h2 class="font-medium text-3xl">{{- __( 'Subscriptions available', 'weblexprodashboard' ) -}}</h2>
				<div>
					<hr class="block border-none bg-blue-dark h-px w-full mt-4">
				</div>
			</div>
		</div>
	</div>
{% endblock %}
