{#
 # Naked Page
 #
 # @package WordPress
 # @subpackage WebLexProDashboard
 #}

{% extends 'index.html.twig' %}

{% block header %}{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			{% if password_required %}
				<div class="lg:col-4/12 lg:ml-4/12">
					<div class="p-12 border border-blue-dark-grayish-20">
						{{- post.post_login_form -}}
					</div>
				</div>
			{% else %}
				<div>
					{{- post.content -}}
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block footer %}{% endblock %}
